<!DOCTYPE html>

<html>
    <head>
        <title>Travello</title>
        <link rel="icon" href="/img/travelloicon.png">
        <link rel="stylesheet" href="/css/create.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <a id = "home" href="/">HOME</a><br><br>
        <a id = "home" href="/join">Already have an account?</a>
        <div id="cent">
            <div  id="insideCent">
            <form>
                <input  type="text" id="dest" placeholder="Place of travel"><br>
                <input placeholder="Number of people" type="text" id="peopleCount"><br>
                <input placeholder="Email" type="email" id="email"><br>
                <label class="label-pwd">Must contain atleast 1 alphabet and 1 number</label>                     
                <input placeholder="Enter a unique password(length=8)" type="password" id="pwd"><br>
                <input placeholder="Reconfirm password" type="password" id="re_pwd"><br>        
                <button id="sub_but" >Submit!</button>
            </form>                       
        </div>
        </div>
        <div id="errormsg">
                <p id="errorMessage">&nbsp</p>            
        </div> 
        {{>footer}} 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src= "/js/create.js" > </script>
    </body>
    

</html> 