<!DOCTYPE html>

<html>    
    <head>
        <title>{{title}}</title>
        <!-- <link rel="icon" href="images/note.png"> -->
        <link rel="stylesheet" href="/css/home_styles.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>            
            <div class = "buttoncase">
                <div class="description"><p >{{description}}</p></div>
                <button onclick="window.location.href = '/create';">CREATE</button>
                <button onclick="window.location.href = '/join';">JOIN  </button>                
            </div>
        </div>
        {{>footer}}
    </body>
    

</html> 