<!DOCTYPE html>

<html>
    <head>
        <title>Notes</title>
        <!-- <link rel="icon" href="images/note.png"> 
        <link rel="stylesheet" href="/css/styles.css"> -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <div id="cent">
            <div id="one">
                <a href="/create">CREATE</a>
            </div>
            <div id="two">
                <a href="/join">JOIN</a>
            </div>
        </div>
        {{>footer}}
    </body>
    

</html> 