<!DOCTYPE html>

<html>    
    <head>
        <title>Logout</title>
        <link rel="icon" href="/img/travelloicon.png">
        <link rel="stylesheet" href="/css/logout.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>            
            <div class = "buttoncase">
                <div class="description"><p >{{description}}</p></div>
                <p>Contact us at:</p>
                <p>Email: </p> 
                <p>Find us on Github! (PS:- We're beginners)</p>
                <a href='https://github.com/mahathiamencherla15'>Mahathi Amencherla</a><br><br>
                <a href='https://github.com/manugeorge04'>Manu George</a>  <br><br><br><br><br>
                    
            </div> 
        </div>
    </body>
    <script type="text/javascript">   
    function Redirect() 
    {  
        window.location="/"; 
    } 
    document.write("You will be redirected to the home page in 10 seconds..."); 
    setTimeout('Redirect()', 10000);   
</script>
</html> 