<!DOCTYPE html>

<html>    
    <head>
        <title>Logout</title>
        <link rel="icon" href="/img/travelloicon.png">
        <link rel="stylesheet" href="/css/logout.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        {{>analytics}}
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>            
            <div class = "buttoncase">
                <div class="description"><p >{{description}}</p></div><br>
                <p>Contact us at:</p>
                <img src="/img/gmail.png" style="width:27px;height:27px;">
                <a href='mailto:travelloapi@gmail.com'>travelloapi@gmail.com</a> <br><br>               
                <p>Find us on Github! (PS:- We're beginners)</p>
                <img src='/img/github_logo.png' style="width:22x;height:22px;">
                <a href='https://github.com/mahathiamencherla15'>Mahathi Amencherla</a><br><br>
                <img src='/img/github_logo.png' style="width:22x;height:22px;">
                <a href='https://github.com/manugeorge04'>Manu George</a><br><br>
                <p>Logo Design by</p>
                <img src='/img/ps.svg' style="width:22x;height:22px;">              
                <a>Rahul Nagaraj</a><br><br><br><br><br>

                    
            </div> 
        </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </body>
    <script type="text/javascript">   
        function Redirect() 
        {  
            Cookies.remove('T_autoLogin');
            window.location="/"; 
        } 
        document.write("You will be redirected to the home page in 10 seconds..."); 
        setTimeout('Redirect()', 10000);   
    </script>
</html> 