<!DOCTYPE html>

<html>    
    <head>
        <title>{{title}}</title>
        <!-- <link rel="icon" href="images/note.png"> -->
        <link rel="stylesheet" href="/css/me.css"> 
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <div class="main-content">
            <h1>{{title}}</h1>            
            <div class = "buttoncase">
                <div class="description"><p >{{description}}</p></div>
                <button id = "idea">IDEA LIST</button>
                <button id="veto" >VETO LIST</button>                
            </div>
        </div>
        <p>{{details}}</p>
        <a id = "home" href="/logout">LOGOUT</a>
        {{>footer}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script src= "/js/me.js" > </script>
    </body>
    

</html> 