<footer>    
    <img src='/img/github_logo.png' style="width:22x;height:22px;margin-right:5px">
    <a href='https://github.com/mahathiamencherla15'>Mahathi Amencherla</a> &
    <a href='https://github.com/manugeorge04'>Manu George</a>  <br>
    <img src="/img/gmail.png" style="width:27px;height:27px; margin-right:5px">
    <a href='mailto:travelloapi@gmail.com'>travelloapi@gmail.com</a>

</footer>