body {
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: white;
    overflow: visible;
    font-family: 'Montserrat';
    text-align: center;    
    max-width: 650px;    
    margin: 0 auto;       
    padding: 0 16px;
    background-size: 200% 100% !important;
}

#cent {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.502)); 
    box-sizing: content-box;
    width: 400px;
    height: 330px;
    padding: 30px;
    margin: 50px 38px;
    border: 5px solid #2A274D;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 200px 200px;
    background-color: #2A274D;
    border-radius: 25px;
    position: absolute;
	overflow: visible;
  left: 80px;
    text-align: center;
    
  }

  #insideCent {
     
    box-sizing: content-box;
    width: 350px;
    height: 280px;
    padding: 30px;  
    border: 5px solid #4C488C;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 200px 200px;
    background-color: #4C488C;
    border-radius: 25px;
    position: absolute;
	overflow: visible;
	left: 20px;
    top: 20px;
    text-align: center;
  }  

  footer {
    text-align: right;
    color: #2A274D;
    border-top: 1px solid #2A274D;
    margin: 40px auto ;
    padding: 16px 0;
    
}

footer a {
  text-decoration: none;
  background-color: #f6fafb;
  color: #2A274D;
  border-radius: 5px;
}

form {
    border-radius: 5px;
    background-color: #4C488C;
    width: 350px;
    height: 280px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12pt;
    color:white;
  }

input[type=text], select {
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }
  
  input[type=password], select {
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
    font-family: 'Montserrat';
  }

  input[type=email], select {
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
    font-family: 'Montserrat';
  }

  button {
    width: 100%;
    background-color: #d76c7f;
    color: white;
    padding: 8px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat';
  }

   button:hover {
    background-color: #ba4747;
  }

  #errormsg {
    font-weight: bolder;
    font-family: Montserrat;
    margin: 570px auto 0px;
  }

 #home {
    color: #2A274D
  }

  footer a:hover {    
    background-color: #d76c7f;
    font-size: x-large;
  }

.label-pwd {
  font-size: 10pt;
}  