body {
    color: #2A274D;     /* set font color */
    font-family: 'Montserrat';   /* set font type */
    max-width: 650px;     /* set width of body */
    margin: 0 auto;       /* margin value for top and bottom ;  margin value for left and right */
    padding: 0 16px;      /* not apdding on top and down ;  pad left and right */
    background-image: url("../img/home_bg.jpg") ;
    background-size: 100%;
    display: flex;
    flex-direction: column;  /* default is "row" ie left to right */
    min-height: 100vh;  
    font-weight: normal;   
    
      
}

footer{
    text-align: right;
    color: #2A274D;
    border-top: 1px solid #2A274D;
    margin-top: 125px;
    padding: 16px 0;
}

a {
    text-decoration: none;
    background-color: #f6fafb;
    color: #2A274D;
    border-radius: 5px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
}

.description {
    font-size: 32px;
    text-align: center;
    font-weight: normal;    
}





button{
    width: 35%;
    height: 125px;
    margin: 100px 42px; 
    padding: 32px 16px;    
    border-radius: 30px;
    border: none;
    font-weight: normal;
    font-size: 30px;
    font-family: 'Montserrat'; 
    background-color: #232141; 
    color: white
}

.logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.imglogo {
    width: 300px;
}
