body{
    margin: 0px;
    color: #232141;     
    font-family: 'Montserrat';  
    font-weight: normal;   
    background-image: -webkit-linear-gradient(left, #7b5691, #7b5691 17.05%, transparent 17.05%, transparent 100%);      
}

.Container{
    max-width: 100%;      
    background-size: 100%;
    display: flex;    
    min-height: 95vh;  
    font-weight: normal;  
}

.sidebar{
    display: flex;
    flex-direction: column;  
    background-color: #7b5691;
    flex-grow: 1.18;
    
}

.info{
    display: flex; 
    flex-direction: column;   
    flex-grow: 0.2;    
    background-color: #7b5691;
    justify-content: safe;
    border-bottom: 1px solid white;
}

.info p{  
    margin-top: 30px;     
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: normal;
}

.navigation{
    display: flex;
    flex-direction: column; 
    flex-grow: 4;
    
}

.navigation button{
    width: 80%;
    height: 50px;               
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Montserrat'; 
    background-color: white; 
    border: none;
    color: black
}

.navigation button:hover {
  background-color: #edebeb;
}

.main{
    display: flex;
    flex-direction: column;  /* default is "row" ie left to right */
    background-color: white;
    flex-grow: 7;
}

.main h1{
    text-align: center;
    margin-top: 70px;
    margin: 0 auto;
    padding: 40px 16px;
    font-size: 50px;
    font-family: 'Montserrat';   
}

table {
    counter-reset: Serial;
    font-family: 'Montserrat';
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

table td:first-child:before {
counter-increment: Serial;  /* Increment the serial number counter */
content: counter(Serial);  /* Display the counter */
}


td, th {
border: 1px solid white;
text-align: left;
padding: 8px;
border-radius: 7px;
}

td:last-child{
    padding: 0 0;
}

tr:nth-child(odd){
background-color: #edebeb;
}

tr:nth-child(even) {
background-color: #d76c7f;
color: white
}

tr:nth-child(even) button {
  color: white;
}

th.slno{
    text-align: center;
    font-weight: bolder;
    width: 5%;
}

th.idea{
text-align: center;
font-weight: bolder;
width: 65%;
}  

th.cost{
text-align: center;
font-weight: bolder;
width: 10%;
}

th.veto{    
text-align: center;
font-weight: bolder;
width: 5%;
align-content: center;
}

table button{    
    padding: 0 0;
    width : 100%;
    height: 36px;
    text-align: center;
    font-weight: bolder;      
    border-radius: 7px;
    background-color: transparent;
    outline: none;
    border: none;
}

tr:nth-child(even) button:hover{
    background-color: #ba4747
}

tr:nth-child(odd) button:hover{
    background-color: #d6d0d0
}

.newIdeaForm{
    margin: 20px auto;
    display: flex;
    width: 90%;
     
    font-family: 'Montserrat';
}

#newIdea{
    width: 82%;  
    height: 30px;  
    color: black
}

#cost{
    width: 11.5%;
    color: black
}

#newIdeaBtn{
    width: 6%;
    font-family: 'Montserrat';
    border-radius: 7px;
    border: none;
    background-color: #d76c7f;
    color: white
}

#newIdeaBtn:hover {
  background-color: #ba4747;
}

footer {
    padding: 0 0 0 53%;     
    /* border-top: 1px solid white;         */    
}

input[type=text], select {
  font-family: 'Montserrat';
  padding-left: 3px;
  border-radius: 7px;
  border: none;
  background-color: #edebeb;
  color: black
}

::placeholder {
  color: black;
}

