body {
    font-family: 'Montserrat';
    font-size: 20px;
    max-width: 650px;     /* set width of body */
    margin: 100px auto;       /* margin value for top and bottom ;  margin value for left and right */
    padding: 0 16px;
    background-image: url("../img/home_bg.jpg") ;
    background-size: 100%;
    height: 100vh;
    text-align: center;
    color: #2A274D
}

.main-content {
    margin-top: 40px;
    border-radius: 6px;
    color: #2A274D
}

a {
    text-decoration: none;
    background-color: #d76c7f;
    color: #2A274D;
    border-radius: 5px;
}



footer {
    text-align: center;
    color: #2A274D;
    border-top: 1px solid #2A274D;
    margin-top: 300px;
    padding: 16px 0;
}