body {
    background-color: white;
    max-width: 1000px;   
    margin: 0 auto;       
    padding: 0 16px; 
    text-align: center;
    font-family: 'Montserrat';
    color: #2A274D
}

h1 {
    font-size: 50px;
    margin-bottom: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    border-bottom: 1px solid #d76c7f;
}

.description {
    font-size: 32px;
    text-align: center;
    font-weight: normal;    
}

#idea, #veto {
    width: 300px;
    height: 200px;   
    margin: 50px 42px; 
    padding: 32px 16px;    
    border-radius: 50px;
    border: none;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Montserrat'; 
    background-color: #4C488C; 
    color:  #d76c7f;
}

#idea:hover {
    background-color: #2A274D;
  }

  #veto:hover {
    background-color: #2A274D;
  }  

footer {
    text-align: right;
    color: #2A274D;
    border-top: 1px solid #2A274D;
    margin-top: 100px;
    padding: 16px 0;
}

footer a {
    text-decoration: none;
    background-color: #f6fafb;
    color: #2A274D;
    border-radius: 5px;
  }

#logout {
    width: 20%;
    height: 50px;               
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat'; 
    background-color: #ebebeb; 
    border: none;
    color: black
}

#logout:hover {
    background-color: #d6d0d0;
  }

a:hover {    
    background-color: #d76c7f;
    font-size: x-large;
  }