body{
  margin: 0px; 
  color: #232141;
  font-family: 'Montserrat';  
  font-weight: normal;   
  background-size: 200% 100% !important;    
} 
 
 .Container{
  max-width: 100%;      
  background-size: 100%;
  display: flex; 
  min-height: 100vh;   
 }
 
 .main-content{
  background-color: white;
  text-align: center;
  font-family: 'Montserrat';
  color: #2A274D;  
  flex-grow: 7  ;
}

#sidebar{    
  background-color: #2A274D;
  display: flex;
  flex-direction: column; 
  flex-grow: 1.4; 
}

.info{
  display: flex; 
  flex-direction: column;   
  flex-grow: 0.2;    
  background-color: #2A274D;
  justify-content: safe;
  border-bottom: 1px solid white;
}

.info p{  
  margin-top: 30px;     
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: normal;
}

.navigation{
  display: flex;
  flex-direction: column; 
  flex-grow: 4;    
}

.navigation button{
  width: 80%;
  height: 50px;               
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Montserrat'; 
  background-color: white; 
  border: none;
  color: black
}

.navigation button:hover {
background-color: #edebeb;
}

#share{
  position: absolute;
  left: 90%;
  top: 5%;
  font-family: 'Montserrat';
}

.tooltip{
  position: relative;  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #666363;
  color: whitesmoke;
  text-align: center;  
  border-radius: 6px; 
  left: -20%;
  bottom: -20%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1.5s;
  font-family: 'Montserrat';
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #666363 transparent;
  font-family: 'Montserrat';
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  font-family: 'Montserrat';
}

#share_btn{
  background-color: #4C488C;
  border: none;
  border-radius: 7px;
  height: 40px;
  width: 100px;
  text-align: center;
  color: white;
  font-size: large;
  font-family: 'Montserrat';
}

h1 {
    font-size: 50px;
    margin-bottom: 16px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    border-bottom: 1px solid #d76c7f;
}

.description {
    font-size: 32px;
    text-align: center;
    font-weight: normal;    
}

#idea, #veto {
    width: 300px;
    height: 200px;   
    margin: 50px 42px; 
    padding: 32px 16px;    
    border-radius: 50px;
    border: none;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Montserrat'; 
    background-color: #4C488C; 
    color:  #d76c7f;
}

#idea:hover {
    background-color: #2A274D;
  }

#veto:hover {
    background-color: #2A274D;
  }  

#share_btn:hover {
    background-color: #2A274D;
  }

footer {
    margin-top: 100px;
    text-align: right;
    color: #2A274D;
    border-top: 1px solid #2A274D;    
    padding: 16px 32px 0px 0px ;
}

footer a {
    text-decoration: none;
    background-color: #f6fafb;
    color: #2A274D;
    border-radius: 5px;    
  }

#logout {
    width: 20%;
    height: 50px;               
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat'; 
    background-color: #ebebeb; 
    border: none;
    color: black
}

#logout:hover {
    background-color: #d6d0d0;
  }

a:hover {    
    background-color: #d76c7f;
    font-size: x-large;
  }

button{
  outline: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */  
  background-color: #000000; /* Fallback color */
  background-color: #00000066; /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #ebebeb;   
  margin-left: 73%;
  margin-right: 10%;
  padding: 20px;
  border: 1px solid #9c9999;
  width: 23%;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn{  
  margin: auto 0px;  
  width: 40px;
  height: 42px; 
  padding: auto auto;
  background-color: transparent; 
  border: none;
}

.btn img{
  padding-top: 5px;
  width: 20px;  
} 

#url{
  width: 80%;
  height: 35px;
  font-size: large;
  margin: auto auto;
  border-radius: 5px;
  color: #4C488C;
  outline: none;
  border: none;
}

#change_email {
  border-radius: 5px;
    font-weight: normal;
    text-align: center;
    font-family: 'Montserrat'; 
    background-color: #ebebeb; 
    border: none;
    color: black
}

#change_email:hover {
  background-color: #d6d0d0;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 220px;
  right: 325px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-family: 'Montserrat';
}
.form-container .btn {
  background-color: #d76c7f;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: 'Montserrat';
}

.form-container .cancel {
  background-color: #4C488C;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

