body{
    margin: 0px; 
    color: #232141;
    font-family: 'Montserrat';  
    font-weight: normal;   
    background-size: 200% 100% !important;    
}

.Container{
    max-width: 100%;      
    background-size: 100%;
    display: flex;          
    font-weight: normal; 
    min-height: 100vh; 
    backdrop-filter: blur(0.8);
}

.sidebar{
    display: flex;
    flex-direction: column;  
    background-color: #2A274D;
    flex-grow: 1.25;
    
}

.info{
    display: flex; 
    flex-direction: column;   
    flex-grow: 0.2;    
    background-color: #2A274D;
    justify-content: safe;
    border-bottom: 1px solid white;
}

.info p{  
    margin-top: 30px;     
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: normal;
}

.navigation{
    display: flex;
    flex-direction: column; 
    flex-grow: 4;    
}

.navigation button{
    width: 80%;
    height: 50px;               
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Montserrat'; 
    background-color: white; 
    border: none;
    color: black;
    cursor: pointer;
}

.navigation button:hover {
  background-color: #edebeb;
}

.main{
    display: flex;
    flex-direction: column;  /* default is "row" ie left to right */
    background-color: white;
    flex-grow: 7;    
}

.main h1{
    text-align: center;
    margin-top: 70px;
    margin: 0 auto;
    padding: 40px 16px;
    font-size: 35px;
    font-family: 'Montserrat'; 
    border-bottom: 1px solid #d76c7f; 
}

label {
  margin-top: 10px;
}
.form-profile { 
  padding-top: 70px;
  margin:   5% auto 0px auto;   
  border-radius: 7px;
  background-color: #d76c7f;
  width: 60%;  
  padding: 5px 5px;        
  font-family: 'Montserrat';
  font-size: 20px;    
  margin-bottom: 3%;
}

footer {    
  text-align: right;
  color: #2A274D;  
  padding: 16px 32px 0px 0px ;

}

footer a {

  text-decoration: none;
  background-color: #f6fafb;
  color: #2A274D;
  border-radius: 5px; 
}


a:hover {    
  background-color: #d76c7f;
  font-size: x-large;
}


.line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 92%;     
}

.line input{
  min-width: 60%;
  font-family: 'Montserrat';
  font-size: 20px; 
  margin-right: 5%;
  border-radius: 8px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  outline: none;
  background-color: #d76c7f;
}

.line label{
  min-width: 38%;
  margin-left: 0.8%;
}

.btn {
  border:none;
  float: right;
  border-radius: 8px;
  background-color: #ebebeb;
  padding: 3px 4px;
  font-size: 30px;
  cursor: pointer;
  height: 45px;
  width: 48px;
}

.btn:hover {
  background-color: white;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 500px;
  right: 450px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 600px;
  padding: 10px;
  background-color: white;
}

.form-btn {
  background-color: #4C488C;
  font-size: 16px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: 'Montserrat';
}

.keep-form-btn {
  background-color: #4C488C;
  color: white;
  padding: 16px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  float: right;
  width: 45%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: 'Montserrat';
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#submit{
  display:none;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px auto;
  background-color: #4C488C;
  color: white;
}

#submit:hover {
  background-color: #2A274D;
}

#cancel{
  display:none;
  width: 250px;
  height: 50px;
  border: none;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px auto;
  background-color: #4C488C;
  color: white;
}

#cancel:hover {
  background-color: #2A274D;
}

#buttoncontainer{
  display: flex;
}

#listDisplay{
  display: none;
  min-height: 36vh;
  max-height: 36vh;    
  overflow-y:auto;
}

table {
  counter-reset: Serial;
  font-family: 'Montserrat';
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;   
}

table td:first-child:before {
counter-increment: Serial;  /* Increment the serial number counter */
content: counter(Serial);  /* Display the counter */
}

td, th {
border: 1px solid white;
text-align: left;
padding: 8px;
border-radius: 7px;
}

td:last-child{
  padding: 0 0;
}

tr:nth-child(odd){
background-color: #edebeb;
}

tr:nth-child(even) {
background-color: #3E748A;
color: white
}

tr:nth-child(even) button {
color: white;
}

th.slno{
  text-align: center;
  font-weight: bolder;
  width: 5%;
}

th.idea{
text-align: center;
font-weight: bolder;
width: 65%;
}

th.time{    
  text-align: center;
  font-weight: bolder;
  width: 5%;
  align-content: center;
}

th.cost{
text-align: center;
font-weight: bolder;
width: 5%;
}

th.veto{    
text-align: center;
font-weight: bolder;
width: 5%;
align-content: center;
}

table button{    
  padding: 0 0;
  width : 100%;
  height: 36px;
  text-align: center;
  font-weight: bolder;      
  border-radius: 7px;
  background-color: transparent;
  outline: none;
  border: none;
}

tr:nth-child(even) button:hover{
  background-color: #ba4747
}

tr:nth-child(odd) button:hover{
  background-color: #d6d0d0
}

#deleteAll {
  margin: 0px 45%;
}
.chkbtn{
  margin: 0px 45%;
}

.form-popup1 {
  display: none;
  position: fixed;
  top: 260px;
  left: 300px;
  border: 3px solid #cccccc;
  z-index: 9;  
}

.form-container1 {
  min-width: 320px;  
  padding: 10px;
  background-color: white;
}

.close_chng_pwd {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_chng_pwd:hover,
.close_chng_pwd:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-container1 input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-family: 'Montserrat';
}

.form-container1 #chng_pwd_sub {
  background-color: #3E748A;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-family: 'Montserrat';
}