body{
    margin: 0px; 
    color: #232141;
    font-family: 'Montserrat';  
    font-weight: normal;   
    background-size: 200% 100% !important;    
}

.Container{
    max-width: 100%;      
    background-size: 100%;
    display: flex;          
    font-weight: normal; 
    min-height: 100vh; 
}

.sidebar{
    display: flex;
    flex-direction: column;  
    background-color: #2A274D;
    flex-grow: 2.17;
    
}

.info{
    display: flex; 
    flex-direction: column;   
    flex-grow: 0.2;    
    background-color: #2A274D;
    justify-content: safe;
    border-bottom: 1px solid white;
}

.info p{  
    margin-top: 30px;     
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: normal;
}

.navigation{
    display: flex;
    flex-direction: column; 
    flex-grow: 4;    
}

.navigation button{
    width: 80%;
    height: 50px;               
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Montserrat'; 
    background-color: white; 
    border: none;
    color: black
}

.navigation button:hover {
  background-color: #edebeb;
}

.main{
    display: flex;
    flex-direction: column;  /* default is "row" ie left to right */
    background-color: white;
    flex-grow: 7;    
}

.main h1{
    text-align: center;
    margin-top: 70px;
    margin: 0 auto;
    padding: 40px 16px;
    font-size: 35px;
    font-family: 'Montserrat'; 
    border-bottom: 1px solid #d76c7f; 
}

.form-profile { 
  padding-top: 100px;
  margin:   10% auto 0px auto;   
  border-radius: 10px;
  background-color: #d76c7f;
  width: 80%;  
  padding: 10px 10px;        
  font-family: 'Montserrat';
  font-size: 40px;    
  
}

.line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 92%;     
}

.line input{
  min-width: 60%;
  font-family: 'Montserrat';
  font-size: 40px; 
  margin-right: 5%;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #d76c7f;
}

.line label{
  min-width: 38%;
  margin-left: 0.8%;
}

.btn {
  border:none;
  float: right;
  border-radius: 8px;
  background-color: white;
  padding: 3px 4px;
  font-size: 40px;
  cursor: pointer;
  height: 55px;
  width: 58px;
}
