body{
    margin: 0px;
    color: #232141;     
    font-family: 'Montserrat';  
    font-weight: normal;     
}

.Container{
    max-width: 100%;      
    background-size: 100%;
    display: flex;    
    min-height: 95vh;  
    font-weight: normal;  
}

.sidebar{
    display: flex;
    flex-direction: column;  
    background-color: #7b5691;
    flex-grow: 1;
}

.info{
    display: flex; 
    flex-direction: column;   
    flex-grow: 0.2;    
    background-color: #7b5691;
    justify-content: safe;
    border-bottom: 1px solid white;
    
}

.info p{  
    margin-top: 30px;     
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: normal;
}

.navigation{
    display: flex;
    flex-direction: column; 
    flex-grow: 4;
    
}



button{
    width: 80%;
    height: 50px;               
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Montserrat'; 
    background-color: white; 
    border-color: #232141;
    border: none;
    color: black
}

button:hover {
    background-color: #edebeb;
  }

.main{
    display: flex;
    flex-direction: column;  /* default is "row" ie left to right */
    background-color: white;
    flex-grow: 7;
}

.main h1{
    text-align: center;
    margin-top: 70px;
    margin: 0 auto;
    padding: 40px 16px;
    font-size: 50px;
    font-family: 'Montserrat';     
}

ol {    
    margin: 50px auto auto ;
    width: 80%;
    background:#edebeb;
    padding: 30px;
  }

ol li {    
    background:#d76c7f;
    margin: 20px;
    text-indent: 10px;
    font-size: x-large;
    text-align: left;
  }

footer {
    text-align: center;    
    border-top: 1px solid white;        
}


