body{
    margin: 0px;
    color: #232141;     
    font-family: 'Montserrat';  
    font-weight: normal;     
}

.Container{
    max-width: 100%;      
    background-size: 100%;
    display: flex;    
    min-height: 95vh;  
    font-weight: normal;  
}

.sidebar{
    display: flex;
    flex-direction: column;  
    background-color: thistle;
    flex-grow: 1;
}

.info{
    display: flex; 
    flex-direction: column;   
    flex-grow: 0.2;    
    background-color: blueviolet;
    justify-content: safe;
}

.info p{  
    margin-top: 50px;     
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: bolder;
}

.navigation{
    display: flex;
    flex-direction: column; 
    flex-grow: 4;
    
}



button{
    width: 80%;
    height: 50px;               
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Montserrat'; 
    background-color: white; 
    border-color: #232141;
    color: black
}

.main{
    display: flex;
    flex-direction: column;  /* default is "row" ie left to right */
    background-color: tomato;
    flex-grow: 7;
}

.main h1{
    text-align: center;
    margin-top: 70px;
    margin: 0 auto;
    padding: 40px 16px;
    font-size: 50px;
    font-family: 'Montserrat';     
}

ol {    
    margin: 50px auto auto ;
    width: 80%;
    background:#ff9999;
    padding: 30px;
  }

ol li {    
    background:#ffe5e5;
    margin: 20px;
    text-indent: 10px;
    font-size: x-large;
    text-align: left;
  }

footer {
    text-align: center;    
    border-top: 1px solid white;        
}


